img:hover {
    background-color: gold;
}
.broccoli {
    background-color: green;
}

.mango {
    background-color: red;
}

.circular{
    border-radius: 100%;
}

h1 {
    color: rgb(209, 13, 36);
}

#heading{
    color: blue;
}
